<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-safe-area">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Peminjaman Buku Perpustakaan</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Aplikasi ini digunakan untuk memudahkan proses peminjaman dan pengembalian buku
      secara digital. Dibangun menggunakan <strong>Ionic Angular</strong> dan
      <strong>PHP MySQL</strong> sebagai backend-nya.
      <br /><br />
      Terdapat 5 fitur utama dalam aplikasi:
      <ul>
        <li>Input data buku (judul, penulis, stok, dan penerbit)</li>
        <li>Daftar buku</li>
        <li>Form peminjaman</li>
        <li>Konfirmasi pengembalian</li>
        <li>Riwayat pengembalian buku</li>
        <li>Informasi tentang aplikasi</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-title class="ion-text-center">
      &copy; azwaguntara
    </ion-title>
  </ion-footer>

</ion-content>