<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab7" href="/tabs/tab7">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Buku</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="reader"></ion-icon>
      <ion-label>Pinjam</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6" href="/tabs/tab6">
      <ion-icon aria-hidden="true" name="checkbox"></ion-icon>
      <ion-label>Konfirmasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>Tentang</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
